<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>
<body id="page-top">

<div id="wrapper">

  <ul th:replace="fragments :: sidebar">
  </ul>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <nav th:replace="fragments :: topbar"></nav>

      <div class="container-fluid">

        <form class="form-horizontal" th:action="@{/update-product/{id} (id = ${productDto.id})}" method="post" enctype="multipart/form-data" th:object = "${productDto}">

          <fieldset>

            <legend>ADD PRODUCTS</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
              <div class="col-md-4">
                <input id="product_name" th:field = "*{name}" name="product_name" class="form-control input-md" required="" type="text">
              </div>
            </div>

            <div class="form-group" >
              <label class="col-md-4 control-label" for="categories">PRODUCT CATEGORY</label>
              <div class="col-md-4">
                <select id="categories" th:field = "*{category}" name="categories" class="form-control">
                  <option th:value = "null">-SELECT-</option>
                  <option th:each = "category : ${categories}"
                          th:value = "${category.id}"
                          th:text = "${category.name}">
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION </label>
              <div class="col-md-4">
                <input id="description" th:field = "*{description}" name="description" class="form-control input-md" required="" type="text">

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
              <div class="col-md-4">
                <input id="available_quantity" th:field = "*{currentQuantity}" name="available_quantity" class="form-control input-md" required="" type="text">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="price">PRICE</label>
              <div class="col-md-4">
                <input id="price" name="price" th:field = "*{costPrice}" class="form-control input-md" required="" type="text">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-4">

                <div class="form-group">
                  <div class="col-md-4">
                    <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                  </div>
                </div>


          </fieldset>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>

    </div>

    <footer th:replace="fragments :: footer">
    </footer>

  </div>

</div>

<a th:replace="fragments :: scroll">
</a>

<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>