<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Menu</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

<div class="main-top" th:fragment="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="our-link">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="login-box">
                    <select id="" class="selectpicker show-tick form-control" data-placeholder="Sign In" onchange="location = this.value;">
                        <option th:text="${session.username != null} ? ${session.username} : 'Authentication'"></option>
                        <option th:if = "${session.username == null}" value="http://localhost:8020/shop/login">Sign In</option>
                        <option th:if = "${session.username != null}" value="http://localhost:8020/shop/logout">Log out</option>
                        <option value="http://localhost:8020/shop/register" >Sign Up</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="main-header" th:fragment="main-header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <h1>LeShamile</h1>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">About Us</a></li>
                    </ul>
                    <li class="nav-item"><a class="nav-link" th:href="@{/order}">Order</a></li>
            </div>

            <div class="attr-nav2">
                <ul>
                    <li class="side-menu">
                        <a href="#"  th:href = "@{/cart}">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge" th:text = "${session.totalItems == null} ? '0' : ${session.totalItems}"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    <!-- End Navigation -->
</header>

<!-- Start Top Search -->
<div class="top-search" th:fragment="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>

<div class="all-title-box" th:fragment="slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Menu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                    <li class="breadcrumb-item active"> Menu</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer th:fragment="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Sunday: 10.00am to 12.00pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Contact Us</h3>
                        <ul class="list-time">
                            <li><i class="fas fa-phone-square"></i> Phone number: +0787100100</li>
                            <li><i class="fas fa-envelope"></i> Email: CandyShop@mail.ru</li>
                        </ul>
                    </div>
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; LeShamile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div th:fragment="script">

<div th:fragment="script">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/inewsticker.js}"></script>
    <script th:src="@{/js/bootsnav.js.}"></script>
    <script th:src="@{/js/images-loded.min.js}"></script>
    <script th:src="@{/js/isotope.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/baguetteBox.min.js}"></script>
    <script th:src="@{/js/form-validator.min.js}"></script>
    <script th:src="@{/js/contact-form-script.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</div>
</body>
</html>