<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments::head">


</head>

<body>

<header th:replace="fragments::main-header"></header>

<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">LeShamile</h2>
                <p>Welcome to LeShamile! Our candy shop is a magical place that's sure to delight candy lovers of all ages.
                    From the moment you step inside, you'll be surrounded by an array of colors and flavors that will make your taste buds tingle with excitement.
                </p>

                <p>We offer a wide variety of sweets, from classic chocolates to gummies, lollipops, and everything in between.
                    Our shelves are always stocked with the latest and greatest candy trends, as well as timeless favorites that are sure to bring back childhood memories.
                </p>

                <p>But we don't just offer candy! Our shop also features a variety of fun and unique gift items,
                    such as candy-themed t-shirts, mugs, and other merchandise that are perfect for any candy lover.
                </p>

                <p>At our candy shop, we pride ourselves on providing top-quality products that are both delicious and affordable.
                    Our staff is always happy to help you find the perfect treat for any occasion, whether you're looking for a sweet snack to satisfy your cravings or a special gift for a loved one.
                </p>

            </div>
        </div>
</div>

<footer th:replace="fragments::footer">

</footer>

<div th:replace="fragments::script"></div>
</body>

</html>